body
  font-family: verdana, sans-serif

div
  padding: 0.5em
  margin: 0.5em 0

.alert
  border: 1px solid #e7dc2b
  background: #fff888

.error
  border: 1px solid #f00
  background: #ffaaaa

.notice
  border: 1px solid #0f0
  background: #aaffaa

.clear
  margin: 0
  padding: 0
  height: 1px
  clear: both

form#user_new
  float: left
  margin: 1em auto
  border: 1px solid #aaa
  background: #eee
  padding: 1em

  h2
    margin-top: 0

input#openid_identifier
  background: url(/images/openid_login_bg.png) no-repeat
  background-position: 0 50%
  background-color: #fff
  padding-left: 18px

#header
  margin: 0 0 0.5em 0
  padding: 0.5em
  background: #eee
  div
    margin: 0
    padding: 0
  #left
    float: left
  #right
    float: right

#content
  margin: 0.5em 0 0 0
  padding: 0
