#footer
  #copyright
    %p
      &copy; #{Date.today.year} Steve Sloan
    %p
      Source code on #{link_to 'GitHub', 'http://github.com/CodeMonkeySteve/lojban'}, Lojban vocabulary courtesy of
      #{link_to 'Jbovlaste', 'http://jbovlaste.lojban.org/'}, and all content is public domain.
      %br/
      By submitting content, you agree to place it in the public domain to the fullest extent allowed by local law.
